version: '3.8'
services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: phantomdb
      POSTGRES_USER: phantom_user
      POSTGRES_PASSWORD: phantom_pass
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/phantomdb
      SPRING_DATASOURCE_USERNAME: phantom_user
      SPRING_DATASOURCE_PASSWORD: phantom_pass
